html {
  height: 100%;
}

.App {
  min-height: 100vh;
  display: flex;

  flex-direction: column;
}
.footer {
  margin-top: auto;
}
.site-layout-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
  row-gap: 2em;
}
